$color           : radial-gradient(ellipse farthest-corner at center bottom, #69d2fb 0%, #20438E 100%) center bottom / 100% fixed;
$black-bg-light  : rgba(0, 0, 0, 0.5);
$light-box-shadow: rgba(255, 255, 255, 0.5);