.full-page {
  width          : 100%;
  height         : 100vh;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}


.full-page .in-middle {
  display        : flex;
  width          : 20%;
  min-width      : 250px;
  margin         : 0 auto;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.full-page .in-middle .email-input-fields,
.full-page .in-middle .passwords-input-fields,
.full-page .in-middle .company-input {
  width        : 100%;
  margin-bottom: 10px;
  min-height   : 70px;
}

.full-page .in-middle .submit-btn {
  width     : 100%;
  margin-top: 20px;
}

.full-page .in-middle .error-msg {
  width      : 100%;
  min-height : 15px;
  color      : red;
  margin-top : 10px;
  font-size  : 11px;
  font-weight: bold;
}

.nav-btns-login {
  width         : 100%;
  height        : 100%;
  flex-direction: row;
  box-sizing    : border-box;
  display       : flex;
  place-content : center space-between;
  align-items   : center;
  margin-top    : 10px;
}

.nav-btns-login a {
  text-decoration  : none;
  /* text-transform: uppercase; */
}

/*
* Registration components
*
*/

.regForm {
  display        : flex;
  width          : 20%;
  min-width      : 200px;
  margin         : 0 auto;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.regForm .regFields,
.regForm .email-input-fields,
.regForm .passwords-input-fields {
  width        : 100%;
  margin-bottom: 20px;
}

.sec-strong-pass-res {
  width        : 100%;
  display      : grid;
  margin-bottom: 20px;

  label {
    width     : 100%;
    text-align: start;
    font-size : 13px;
  }

  .exist {
    color: green;
  }

  .missing {
    color: red;
  }
}

.wizard-control-btns {
  margin-bottom: 20px;
}

.StepZero-paper {
  padding   : 20px;
  text-align: justify;
  min-width : 200px;
}

.fullWith {
  width: 80%;
}

#outlined-multiline-static {
  min-width: 200px;
  width    : 100%;
}

#reg-step5-company-details .MuiTextField-root,
#final-step {
  width: 80% !important;
}

.card-content-acc-creation {
  width     : 50%;
  text-align: center;
  box-shadow: 0px 2px 1px -1px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  background: white;

  .code-screen {
    text-align: left;
    background: #070707c9;
    color     : lime;
    margin    : 20px auto 0px;
    padding   : 10px;
    min-height: 160px;

    .ordered-steps-acc-create {
      margin: 0 auto;
    }
  }
}

.MuiStepper-horizontal {
  background-color: transparent !important;
}

.fail-acc-creation-msg {
  color: red;
}