.UserStatBatch {
}

.StatBoxes {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 30px !important;
  width: 150px;
  height: 60px;
  margin: 10px;

  h6 {
    margin: 0;
    text-align: start;
  }

  label {
    font-size: 10px !important;
    color: #ccc;
  }

  svg {
    font-size: 14px !important;
    margin-top: 5px;
  }

  h1 {
    margin: 0;
    font-size: 28px;
    padding: 10px 4px 0px 16px !important;
  }
}

.Markers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 26px;
}
